@model IEnumerable<SportClubUkolova.Models.ClientModel>
@using SportClubUkolova.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ClientRegistration", "Client")
</p>
<table>
    <tr>
        <th>
            Client Id
        </th>
        <th>
         @ClientRess.ClientName
        </th>
        <th>
           @ClientRess.Address
        </th>
        <th>
            @ClientRess.PhoneNumber
        </th>
        <th>
            @ClientRess.Cash
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                <button type="button" class="btn btn-default" id="editButton">Edit Client data</button> |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $('#editButton').on('click', function (e) {
        debugger;
        var clientId = ("#ClientId").val();
        var url = '@Url.Action("EditClient", "Client")'
        $.ajax({
            type: "get",
            url: url,
            data: { "clientId": clientId }
        });
    });
</script>